body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #007BFF, #FF0080);
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

.form-group input::placeholder {
    color: #ddd;
}

.form-group label {
    color: #fff;
    font-size: 14px;
}

.forgot-password {
    color: #ddd;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#div1{
    height: 50px;
    background-color: #33c926;
    
    
}
h3{
    
    
    justify-content: center;
    text-align:center;
    
}

   